<head>
  <title>websiteSensortag</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <div class="container"> 
    {{> sensortag}}
    <!-- {{> chart}} -->
    <!-- {{> card}} -->
    <!-- {{> cardTest}} -->
  </div>
</body>


<template name="cardTest">
  <div class="row">
  {{#each cards}}
    <div class="col s12 m6 l3">
      <div class="card" onload={{loadedFunction}}>
        <div class="card-content">
          <span class="card-title">Sensormeter</span>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#{{tab1}}">Data</a></li>
            <li class="tab"><a href="#{{tab2}}">Graph</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id={{tab1}}>This is live data</div>
          <div id={{tab2}}>This is a chart</div>
        </div>
      </div>
      </div>
  {{/each}}
  </div>
  <a class="waves-effect waves-light btn">button</a>
</template>








<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="info">
  <h2>Learn Meteor!</h2>
  <ul>
    <li><a href="https://www.meteor.com/try" target="_blank">Do the Tutorial</a></li>
    <li><a href="http://guide.meteor.com" target="_blank">Follow the Guide</a></li>
    <li><a href="https://docs.meteor.com" target="_blank">Read the Docs</a></li>
    <li><a href="https://forums.meteor.com" target="_blank">Discussions</a></li>
  </ul>
</template>

<template name="chart">
  <canvas id={{canvasName}}></canvas>
</template>
<!-- 
<template name="card">
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Sensormeter</span>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#test4">Data</a></li>
            <li class="tab"><a href="#test5">Graph</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test4">This is live data</div>
          <div id="test5">This is a chart</div>
        </div>
      </div>
    </div><div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Sensormeter</span>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#test8">Data</a></li>
            <li class="tab"><a href="#test9">Graph</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test8">This is live data</div>
          <div id="test9">This is a chart</div>
        </div>
      </div>
    </div>
  </div>
</template> -->