<template name="sensortag">
  <div class="row">
    {{#each sorted sensors}}
      <div class="col s12 m6 l3"> 
              <div class="card" onload={{loadedFunction}}>
        <div class="card-content">
          <span class="card-title">{{sensorName}}</span>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#{{sensorName}}">Data</a></li>
            <li class="tab"><a href="#{{chartName}}">Graph</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="{{sensorName}}">{{> sensor}}</div>
          <div id="{{chartName}}">{{> chart this}}</div>
        </div>
      </div>

      </div>
    {{ else }}
      <div class="preloader-wrapper big active center-align">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</template>

<template name="sensor">
  <div class="sensor {{#if isCheckedFunc}} active {{else}} inactive {{/if}}"> 
    <div class="middle"> 
      {{#if isCheckedFunc}}
        {{#each getKeysWithValue}}
          {{> property }}
        {{/each}}
      {{/if}}
    </div>

  <!--   <div class="bottom">
      <div class="switch">
        <label>
          <input type="checkbox" checked={{isCheckedFunc}}>
          <span class="lever"></span>
        </label>
      </div>
    </div> -->
  </div>
</template>

<template name="property">
  <div class="value">{{key}}: {{value}}</div>
</template>