.box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.sensor {
	position: relative;
	height: 20rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin: .5rem;
}
.sensor.inactive {
	opacity: .6;
	animation: fadein .3s;
}

.sensor.active {
	animation: fadeout .3s;
}

@keyframes fadein {
  from { 
  	opacity: 1;
  }
  to { 
  	opacity: .6;
  }
}

@keyframes fadeout {
  from { 
  	opacity: .6;
  }
  to   { 
  	opacity: 1;
  }
}

.sensor .vars {
	display: flex;
	justify-content: center;
  width: 80%;
  font-size: 1.4rem;
  border-bottom: 1px solid lightgrey;
}

.sensor .value {
	display: flex;
	align-items: center;
	height: 4rem;
	font-size: 1.2rem;
}

.sensor .top {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.sensor .top .divider {
	width: 80%
}

.sensor .middle {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.sensor .bottom {
	height: 40px;
}
